secrets = {
    "ssid": "<WiFi-SSID>",
    "password": "<WiFi-Password>",
    "aio_username": "<AdafruitIO-Username>",
    "aio_key": "<AdafruitIO-Password>",
    "mqtt_broker": "<MQTT-Broker-Host>",
    "mqtt_port": <MQTT-Broker-Port>,
    "mqtt_user": "<MQTT-Broker-Username>",
    "mqtt_password": "<MQTT-Broker-Password>",
    "matrix_bit_depth": "<Matrix-Bit-Depth>", # 2-6
    "matrix_color_order": "<Matrix-Color-Order", # RGB, RBG
    "ntp_enable": <Enable-NTP>,
    "ntp_interval": "<NTP-Update-Interval>", # seconds
    "debug": <Debug-Mode>,
}
